/* General website properties */
body {
  display: flex;
  flex-direction: column;
  justify-content: stretch;

  margin: 0px;
  font-size: 14px;
  font-family: "Arial";
  color: rgba(36, 35, 35, 0.84);
  
}

/* ------ HEADER ------ */
/* General header properties */
header {
  display: flex;
  flex-direction: column;
  align-items: center;

  /*border: 1px dashed black;*/
  background: url("https://images2.imgbox.com/b9/81/nGcWYwEE_o.png") no-repeat top center;
  min-height: 40vh;
}

/* Properties of website title */
header #page-title {
  font-weight: bold;
  font-size: 36px;
}

/* Properties of navigation menu container */
.navigation {
  display: flex;
  justify-content: space-around;
  
  width: 40%;
  background-color: rgba(68, 112, 196, 0.7);
  border: 1px solid black;
  color: #ffffff;
  margin: 30px 0px 30px 0px;
  
}

/* Properties of links inside navigation menu */
nav a {
  color: #ffffff;
  font-family: 'Times New Roman';
}

/* ------ MAIN ------ */
/* General main properties */
main {
  /*border: 1px dashed black;*/
  /*height: 60vh;*/
  display: flex;
  flex-direction: column;
}

/*  */
.introduction {
  text-align: center;
  min-height: 60vh;
  /*border-bottom: 1px dashed black;*/
}

#scrollToPhotos {
  margin-top: 140px;
  margin-bottom: 20px;
  width: 400px;
  height: 50px;
  background-color: #3174f0;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

#scrollToBegin {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.nordic-photos {
  border-bottom: 1px dashed black;
  background-color:rgba(223, 232, 244, 0.919);
  min-height: 100vh;
}

/*  */
.photos-heading {
  text-align: center;
  margin-bottom: 50px;
}

/*  */
hr {
  margin-top: 20px;
	width: 15%;
	background-color: #0686ee; /* Для кроссбраузерности (Opera и Mozilla Firefox) */
	height: 2px; /* Задаем толщину */
	border: none; /* Отменяем отображение границы (в браузере Firefox) */
}

/*  */
.photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-bottom: 35px;
  padding: 0px 10px 0px 10px;
}

/* Photos properies */
.photo {
  width: 50vh;
  padding: 10px 10px 10px 10px;
  border-radius: 55px;
  transition: .5s;
  cursor: pointer;
}

.photo:hover {
  transform: scale(1.02);
}

.pop-up {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 75%);
}

.pop-up img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
}

.closePopup {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: silver;
  font-size: 24px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  cursor: pointer;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  min-height: 85vh;
  background-color: #f8f9ff;
}

#email {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 500px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  
}

/* ------ FOOTER ------ */
/* General footer properties */
footer {
  display: flex;
  justify-content: center;
  
  /*border: 1px dashed black;*/

  background-color: white;

  min-height: 15vh;
  padding: 0px 5px 0px 5px;
  color: #aaaaaa;
}

.disclaimer {
  font-size: 12px;
  
  margin-top: 20px;
  margin-bottom: 20px;
}

/*------ Some adaptive features ------ */
/* Font adaptation */
@media (max-width: 900px){
  
  h2 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
	}
  nav a {
    font-size: 16px;
  }
  footer a {
    font-size: 16px;
  }
  #scrollToPhotos {
    width: 350px;
  }
}

@media (max-width: 800px){
  
	h2 {
		font-size: 22px;
	}
	p {
		font-size: 18px;
	}
  nav a {
    font-size: 18px;
  }
  footer a {
    font-size: 18px;
  }
  #scrollToPhotos {
    width: 300px;
  }
}

@media (max-width: 700px){
  
	h2 {
		font-size: 24px;
	}
	p {
		font-size: 20px;
	}
  nav a {
    font-size: 20px;
  }
  footer a {
    font-size: 20px;
  }
  #scrollToPhotos {
    width: 250px;
  }
}

@media (max-width: 600px){
  
	h2 {
		font-size: 26px;
	}
	p {
		font-size: 22px;
	}
  nav a {
    font-size: 22px;
  }
  footer a {
    font-size: 22px;
  }
  #scrollToPhotos {
    width: 200px;
  }
}
/*
@media (max-width: 300px){
	#scrollToPhotos {
    width: 200px;
  }
}
*/

/* Photos adaptation */
@media (max-width: 1400px){
	.photo {
		width: 30vh;
	}
}

@media (max-width: 800px){
	.photo {
		width: 20vh;
	}
}

@media (max-width: 700px){
	.photo {
		width: 15vh;
	}
}

@media (max-width: 600px){
	.photo {
		width: 10vh;
	}
}

@media (max-width: 100px){
	.photo {
		width: 5vh;
	}
}